################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApi/.vs/WebApi/FileContentIndex/7890230f-f439-4df7-9678-178ad95bf59c.vsidx
