#about {
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(to bottom, #F19E5F 0%, #F3AA72 100%);
    border-bottom: 1px solid #0000002d;
  }
  
  #about h3 {
    font-size: 22px;
    margin: 0 auto 20px;
    color: #805a3b;
  }
  
  #about h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: inline-block; 
    text-align: center;
    color: #805a3b;
  }
  
  #about h2::after {
    position: absolute;
    content: "";
    background: #805a3b;
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #about .about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
  }
  
  #about .about-text li:before {
    content: "\f00c";
    font-family: "FontAwesome";
    color: #d7a86e;
    font-size: 11px;
    font-weight: 300;
    padding-right: 8px;
  }
  
  #about img {
    width: 520px;
    margin-top: 10px;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #about p {
    line-height: 24px;
    margin: 30px 0;
    color: #5a4638;
  }
  
  #about .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    margin: 0 auto;
  }
  
  #about .about-text {
    padding-left: 5vw;
    max-width: 600px; 
    margin: 0 auto; 
    text-align: left; 
  }
  
  @media (max-width: 767px) {
    #about img {
      width: 100%;
      margin-top: 20px;
    }
  
    #about .about-text {
      max-width: 100%;
    }
  }
  