.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    scroll-margin-top: 50px;
  }
  

.section-title h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.section-title p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
    color: #666;
}

/* formuläret */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 123, 255, 0.6);
    outline: none;
}

/* knappar */
.btn-custom {
    padding: 12px 30px;
    background-color: #5ca9fb;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-custom:hover {
    background-color: #487fcb;
}

.btn-custom:active {
    background-color: #3a65a0;
    box-shadow: none;
}

.btn-custom:focus {
    outline: none;
}

.customer-type-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.customer-type-buttons .btn {
    margin: 0 5px;
    padding: 10px 20px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.customer-type-buttons .btn-primary {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.customer-type-buttons .btn-default {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

/* kontakta oss */
.contact-info {
    padding: 20px;
    font-size: 16px;
}

.contact-item {
    margin-bottom: 20px;
}

.contact-item i {
    margin-right: 10px;
    color: #007bff;
}

.contact-info {
    text-align: center;
  }
  
  .contact-item {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
  }
  
  /* footer */
  #footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
  }
  
  #footer .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* social media */
  .social ul {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .social ul li {
    margin: 0 10px;
  }
  