/* Ensuring the navbar itself has minimal padding */
.navbar.navbar-default,
.navbar.navbar-light {
  padding-top: 0 !important; /* Eliminate top padding */
  padding-bottom: 0 !important; /* Eliminate bottom padding */
}

/* Reducing the padding for brand and links to make navbar even slimmer */
.navbar.navbar-default .navbar-brand,
.navbar.navbar-light .navbar-brand {
  padding-top: 0 !important; /* Eliminate top padding */
  padding-bottom: 0 !important; /* Eliminate bottom padding */
  margin-top: 0 !important; /* Adjust top margin if necessary */
  margin-bottom: 0 !important; /* Adjust bottom margin if necessary */
}

.navbar.navbar-default .navbar-nav .nav-link,
.navbar.navbar-light .navbar-nav .nav-link {
  padding-top: 0 !important; /* Eliminate top padding */
  padding-bottom: 0 !important; /* Eliminate bottom padding */
  margin-top: 0 !important; /* Adjust top margin if necessary */
  margin-bottom: 0 !important; /* Adjust bottom margin if necessary */
}

/* Adjusting toggle for smaller navbar */
.navbar.navbar-default .navbar-toggler,
.navbar.navbar-light .navbar-toggler {
  padding: .25rem .5rem; /* Keep padding small for the toggle button */
}
  
  /* Brand logo styling */
  .navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
  }
  
  /* Link styling */
  .nav-link {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    color: #555;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px; /* Adjusted spacing around links for slimmer navbar */
  }
  
  /* Hover effect for links */
  .nav-link:hover {
    color: #5ca9fb; /* Highlight color on hover */
  }
  
  /* Active link styling */
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus {
    color: #6372ff; /* Active link color */
  }
  
  /* Navbar toggler styling */
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  /* Modify the collapsed menu */
  .navbar-collapse {
    justify-content: flex-end; /* Aligns menu items to the right */
  }
  
  /* Override default Bootstrap styles */
  .navbar-light .navbar-nav .nav-link {
    color: #555;
  }
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
    color: #5ca9fb;
  }
  