.user-page-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 40px auto;
    font-family: 'Roboto', sans-serif;
}

.user-page-container h1 {
    color: #333333;
    border-bottom: 4px solid orange;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-weight: 300;
}

.user-page-container p {
    color: #666666;
    line-height: 1.6;
}

.job-requests h2 {
    color: #333333;
    padding: 10px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #eeeeee;
}

.job-request-item {
    background-color: #fafafa;
    border-left: 5px solid orange;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: all 0.3s ease-in-out;
}

.job-request-item:hover {
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.job-request-header {
    padding: 15px;
    background-color: #ffffff;
    color: #333333;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-request-header h3 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
    color: orange;
}

.job-request-header::after {
    content: '▼';
    font-size: 0.8rem;
    color: orange;
    transition: transform 0.3s ease;
}

.job-request-item.active .job-request-header::after {
    transform: rotate(180deg);
}

.job-request-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust number of columns as needed */
    gap: 10px; /* Spacing between columns */
    padding: 15px;
    border-top: 1px solid #eeeeee;
    background-color: #fafafa;
    font-size: 0.9rem; /* Adjust the font size as needed */
  }

.job-request-item.active .job-request-details {
    display: block;
}

.job-request-details p {
    margin: 5px 0;
    color: #555555;
  }
  
  /* New CSS classes for the details. Each class corresponds to a piece of information. */
  .jobDescription {
    grid-column: 1 / -1; /* Makes the description span all columns */
    font-weight: bold; /* Make description text bold */
  }
  
  .jobAddress,
  .jobCity,
  .jobZip,
  .jobEmail {
    /* These will be styled as columns under the description */
    padding: 8px; /* Padding for each item */
    background-color: #ffffff; /* Background color for the detail items */
    border: 1px solid #ddd; /* Border around the detail items */
  }
  
  /* Style for the company name and organization number when isCompany is true */
  .companyDetails {
    grid-column: 1 / -1; /* Span across all columns */
    background-color: #f0f0f0; /* Different background to stand out */
    padding: 8px;
    border: 1px solid #ddd;
  }